// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  display: block;
  padding: 0;

  .navbar-toggler {
    font-size: 34px;

    &:focus {
      outline: none;
    }
  }

  .container {
    padding: 0;
  }

  &__top,
  &__nav {
    .container {
      padding: 0 15px;
    }
  }

  &__top {
    border-bottom: 1px solid #d5d5d5;
    padding: 25px 0;

    @media (max-width: 767.98px) {
      padding: 10px 0;
    }
  }

  &__nav {

    .navbar-nav {
      font-family: 'Roboto';
      display: flex;
      width: 100%;
      justify-content: space-between;

      .nav-link {
        color: #010101;
        font-size: 18px;
        font-weight: 300;

        @media (min-width: $screen-lg) {
          padding-top: 16px;
          padding-bottom: 16px;
        }

        &.dropdown-toggle {
          &:after {
            display: none;
          }

          .fas {
            color: #888888;
            font-size: 13px;
          }
        }

        &:hover {
          color: #7b7b7b;
        }
      }
    }
  }


  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .logo {
      margin-right: auto;
    }
  }

  &__item {

    margin-right: 60px;

    &.item-phones {
      @media (max-width: 991.98px) {
        display: none;
      }
    }
    &.item-email {
      @media (max-width: 1199.98px) {
        display: none;
      }
    }
    &.item-social {
      @media (max-width: 767.98px) {
        display: none;
      }
    }

    p {
      margin: 0;
      font-size: 18px;

      a {
        color: inherit;

        .fas {
          color: $color-main;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    .call-link {
      font-size: 14px;
      color: #7b7b7b;
    }
  }

  .navbar-toggler {
    border: 1px solid #ccc;
  }
}
