// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background-color: #fff;
  border-top: 1px solid #d5d5d5;

  &__bottom {
    border-top: 1px solid #d5d5d5;
    padding-top: 15px;
  }

  &__nav-list {
    list-style: none;
    padding: 0;
    font-size: 15px;

    margin-right: 30px;
  }
}
