// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background-color: #fff;
  border-top: 1px solid #d5d5d5;

  &__bottom {
    border-top: 1px solid #d5d5d5;
    padding-top: 15px;
  }

  &__nav-box {

    font-family: 'Roboto';

    h5 {
      font-weight: 500;
      a {
        color: #000;
      }
    }
  }

  &__nav-list {
    list-style: none;
    padding: 0;
    font-size: 15px;
    margin-right: 30px;

    li {
      margin-bottom: 3px;
    }

    a {
      color: #7b7b7b;

      &:hover {
        color: #ff9a00;
      }
    }
  }
}
