// В этом файле должны быть стили для БЭМ-блока page-top, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-top {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  &.overlay-img-bg:before {
    background-color: rgba(21, 21, 21, 0.7);
  }

  .container {
    position: relative;
    z-index: 1;
  }

  &__breadcrumb-wrap {
    .breadcrumb {
      background: transparent;
      font-size: 0.875rem;
      font-family: 'Roboto';
      padding-left: 0;
      padding-right: 0;
    }

    .breadcrumb-item {
      color: #fff;

      a {
        color: #969696;
      }
    }

    .breadcrumb-item + .breadcrumb-item::before {
      content: ">";
    }
  }

}
